Univeristy Entry Requirements
Business Based Programmes (Business Studies and Economics)
All business based programmes require a credit (6) or better in English Language and Mathematics and a credit (6) or better in any other three in the Zambian School Certificate or General School Certificate of Education or Cambridge International Examinations.

Natural Science Based Programmes (Physical Sciences, Engineering, Technology and Agriculture)
All science based programmes require a credit (6) or better in English Language, Mathematics, Biology or Agriculture Science, Science or (Physics - 5054 and Chemistry- 5070 for applicants who took pure sciences) in addition to a credit or better in two (2) other subjects in the Zambian School Certificate or General School Certificate of Education or Cambridge International Examinations.

Social Sciences and Arts Based Programmes
All Social Sciences or Arts based progammes require a credit (6) or better in English Language and a credit (6) or better in any other four (04) subjects in the Zambian School Certificate or General School Certificate of Education or Cambridge International Examinations.

Bachelor of Medicine and Bachelor of Surgery (MBChB)
i). Ordinary (O) Level Entry -Pre-Medicine
Applicants with Five (5) “O” Level credits or better in subjects from Zambian School Certificate or its equivalent in the following:
    a). English Language
    b). Mathematics
    c). Biology
    d). Science or Pure Sciences (Physics and Chemistry)

And any other subject will have to do Foundation Sciences (Advanced (‘A’) Levels) in Biology,Chemistry,Mathematics and Physics at Mulungushi University Great North Road Campus in Kabwe for One (1) Year before moving to Mulungushi University School of Medicine and Health Sciences in Livingstone.

ii). Advanced (‘A’) Levels/Graduate-Direct Entry
    a). School Leavers with ‘A’ levels in Biology, Chemistry, Mathematics and Physics from a recognised Institution with an average grade B will be admitted to second year (being the first year in Medical School at Livingstone Teaching Hospital Campus).
    b). Applicants with first degrees in Health related, Biological/Life Sciences or Physical Sciences shall be admitted to second year directly into MBChB provided their certificates are from an institution recognized by the Higher Education Authority (HEA)and must be in possession of five O level credits or better in subjects as prescribed in (i) above.

Method of Application

i). Application forms may be obtained in person from Academic office at the Great North Road Campus, website: www.mu.ac.zm OR on facebook link: www.facebook.com/www.mu.ac.zm on payment of a non-refundable fee of (i) K150 (Zambian), (ii) USD50 (Non-Zambian) deposited in the University Account No. 1067654300160 at any ZANACO branch countrywide.

ii). Application forms can also be obtained from our Town Campus offices and at our Main Campus, Great North Road in Kabwe OR our Learning Centres namely: Choma (Adastra Basic School Provincial Resource Centre, Tel:0213-220008) and Ndola (Provident House, Tel: 0212-613738).

All completed application forms should be accompanied with certified copies of certificates or statements of results, a bank deposit slip OR receipt from the Bursar’s office.

Those candidates holding admission letters from previous intakes but did not report for one reason or another should buy and complete new application forms.